<!-- app/views/recipes/_cooking_ingredient_fields.html.erb -->

<div class="nested-fields">
  <div class="form-group">
    <%= f.label :ingredient_name %>
    <%= f.text_field :ingredient_name, class: "form-control" %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :unit %>
      <%= f.text_field :unit, class: "form-control" %>
    </div>
  </div>

  <%= link_to_remove_association "削除", f %>
</div>
