<!-- app/views/recipes/index.html.erb -->

<h1>レシピ一覧</h1>

<%= link_to "新しいレシピを投稿する", new_recipe_path, class: "btn btn-primary mb-4" %>

<% @recipes.each do |recipe| %>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><%= recipe.title %></h5>
      <p class="card-text"><%= recipe.short_comment %></p>
      <%= link_to "詳細を見る", recipe_path(recipe), class: "btn btn-info" %>

      <h2>材料</h2>
      <% recipe.cooking_ingredients.each do |ingredient| %>
        <div>
          <%= ingredient.ingredient_name %> - <%= ingredient.quantity %> <%= ingredient.unit %>
        </div>
      <% end %>

      <h2>手順</h2>
      <% recipe.procedures.each do |step| %>
        <div>
          <%= step.procedure_comment %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
