<!-- app/views/recipes/new.html.erb -->

<h1>レシピ投稿</h1>

<%= form_with(model: @recipe, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :short_comment %>
    <%= f.text_area :short_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tortal_quantity %>
    <%= f.text_area :tortal_quantity, class: "form-control" %>
  </div>

  <h2>材料</h2>
  <%= f.fields_for :cooking_ingredients do |ingredient| %>
    <div class="form-group">
      <%= ingredient.label :ingredient_name %>
      <%= ingredient.text_field :ingredient_name, class: "form-control" %>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <%= ingredient.label :quantity %>
        <%= ingredient.number_field :quantity, class: "form-control" %>
      </div>

      <div class="form-group col-md-4">
        <%= ingredient.label :unit %>
        <%= ingredient.text_field :unit, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <%= link_to_add_fields "材料の追加", f, :cooking_ingredients %>

  <h2>手順</h2>
  <%= f.fields_for :procedures do |step| %>
    <div class="form-group">
      <%= step.label :procedure_comment %>
      <%= step.text_area :procedure_comment, class: "form-control" %>
    </div>
  <% end %>

  <%= link_to_add_fields "手順の追加", f, :procedures %>

  <div class="form-group">
    <%= f.label :cooking_introduction %>
    <%= f.text_area :cooking_introduction, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :recipe_image %>
    <%= f.file_field :recipe_image, accept: "image/jpeg,image/gif,image/png", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :serving %>
    <%= f.number_field :serving, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "レシピを投稿する", class: "btn btn-primary" %>
  </div>
<% end %>
