<!-- app/views/recipes/new.html.erb -->

<h1>レシピ投稿</h1>

<%= form_with(model: @recipe, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :short_comment %>
    <%= f.text_area :short_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tortal_quantity %>
    <%= f.text_area :tortal_quantity, class: "form-control" %>
  </div>

  <h2>材料</h2>
  <div id="cooking_ingredients">
    <%= f.fields_for :cooking_ingredients do |ingredient| %>
      <%= render 'cooking_ingredient_fields', f: ingredient %>
    <% end %>

    <% # デフォルトで5つの材料を表示する %>
    <% (5 - @recipe.cooking_ingredients.size).times do %>
      <%= f.fields_for :cooking_ingredients, CookingIngredient.new do |ingredient| %>
        <%= render 'cooking_ingredient_fields', f: ingredient %>
      <% end %>
    <% end %>
  </div>

  <h2>手順</h2>
  <%= f.fields_for :procedures do |step| %>
    <div class="form-group">
      <%= step.label :procedure_comment %>
      <%= step.text_area :procedure_comment, class: "form-control" %>
    </div>
  <% end %>

  
  <div class="actions">
    <%= f.submit "レシピを投稿する", class: "btn btn-primary" %>
  </div>
<% end %>
